@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <!-- @content -->

        <form id="shorten-form" action="/api/shorten" method="POST">
            <input name="url" type="text" value="http://www.example.com">
            <input type="submit" value="Shorten">
        </form>

        <form id="lookup-form" action="/api/lookup" method="POST">
            <input name="hash" type="text" value="847310eb455f9ae37cb56962213c491d">
            <input type="submit" value="Lookup">
        </form>

        <form id="redirect-form" action="/api/lookup" method="POST">
            <input name="hash" type="text" value="847310eb455f9ae37cb56962213c491d">
            <input type="submit" value="Redirect">
        </form>



        <!-- the result of the search will be rendered inside this div -->
        <div id="result">
            <span id="long-text"></span>
            <br/>
            <span id="short-text"></span>
        </div>

        <script>

                $( "#shorten-form" ).submit(function( event ) {

                    // Stop form from submitting normally
                    event.preventDefault();

                    var data = {}
                    var form = $(this), url = form.attr( "action" );

                    $.each(this.elements, function(i, v){
                        var input = $(v);
                        data[input.attr("name")] = input.val();
                        delete data["undefined"];
                    });


                    $.ajax({
                        type:'POST',
                        url: url,
                        data: JSON.stringify(data),
                        success: function(response) {

                            for (var i in response) {
                                console.log(response[i]);
                            }

                            $("span#long-text").html(response["url"]);

                            if ("error" in response) {
                                $("span#short-text").html(response["error"]);

                            } else {
                                $("span#short-text").html(window.location + "api/reroute/" + response["hash"]);
                            }

                        },
                        dataType: 'json',
                        contentType: 'application/json'

                    });

                });
        </script>

        <script>

                $( "#lookup-form" ).submit(function( event ) {

                    // Stop form from submitting normally
                    event.preventDefault();

                    var data = {}
                    var form = $(this), url = form.attr( "action" );

                    $.each(this.elements, function(i, v){
                        var input = $(v);
                        data[input.attr("name")] = input.val();
                        delete data["undefined"];
                    });


                    $.ajax({
                        type:'POST',
                        url: url,
                        data: JSON.stringify(data),
                        success: function(response) {

                            for (var i in response) {
                                console.log(response[i]);
                            }

                            $("span#long-text").html(response["url"]);

                            if ("error" in response) {
                                $("span#short-text").html(response["error"]);

                            } else {
                                $("span#short-text").html(window.location + "api/reroute/" + response["hash"]);
                            }

                        },
                        dataType: 'json',
                        contentType: 'application/json'

                    });

                });
        </script>

        <script>

                $( "#redirect-form" ).submit(function( event ) {

                    // Stop form from submitting normally
                    event.preventDefault();

                    var data = {}
                    var form = $(this), url = form.attr( "action" );

                    $.each(this.elements, function(i, v){
                        var input = $(v);
                        data[input.attr("name")] = input.val();
                        delete data["undefined"];
                    });


                    $.ajax({
                        type:'POST',
                        url: url,
                        data: JSON.stringify(data),
                        success: function(response) {

                            for (var i in response) {
                                console.log(response[i]);
                            }

                            $("span#long-text").html(response["url"]);

                            if ("error" in response) {
                                $("span#short-text").html(response["error"]);

                            } else {
                                $("span#short-text").html(window.location + "api/reroute/" + response["hash"]);
                                window.location = window.location + "api/reroute/" + response["hash"];
                            }

                        },
                        dataType: 'json',
                        contentType: 'application/json'

                    });

                });
        </script>


    </body>
</html>
